In [26]:
import pandas as pd

In [27]:
df=pd.read_csv('worldometer_data.csv')

In [28]:
df.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [29]:
#total cases for Asia continent
df[df['Continent']=='Europe']['Tot Cases/1M pop'].sum()

np.float64(209454.0)

In [30]:
df[df['Continent']=='North America']['TotalCases'].sum()

np.int64(5919209)

In [31]:
#total cases for Asia continent
df[df['Continent']=='Africa']['TotalCases'].sum()

np.int64(1011867)

In [32]:
print(df[df['Country/Region']=='USA']['TotalRecovered'].sum())

2576668.0

In [33]:
print(df[df['Country/Region']=='Russia']['TotalCases'])

3    871894
Name: TotalCases, dtype: int64

In [34]:
df[df['Continent']=='Africa']['TotalDeaths'].sum()

np.float64(22114.0)

In [35]:
df[df['Continent']=='Africa']['TotalRecovered'].sum()

np.float64(693620.0)

In [36]:
#total cases for Asia continent
#print(df[df['Country/Region']=='Colombia']['TotalDeaths'])
print(df[df['Country/Region']=='Colombia']['TotalRecovered'])

8    192355.0
Name: TotalRecovered, dtype: float64

In [37]:
df[df['Country/Region']=='Spain']

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
9,Spain,Europe,46756648.0,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe

In [38]:
#total cases for Asia continent
df[df['Continent']=='Asia']['TotalRecovered'].sum()

np.float64(3508170.0)

In [39]:
#total cases for Asia continent
df[df['Continent']=='North America']['TotalCases'].sum()

np.int64(5919209)

In [40]:
df[df['Continent']=='Australia/Oceania']['TotalDeaths'].sum()

np.float64(281.0)

In [41]:
#total cases for Asia continent
df[df['Continent']=='Africa']['TotalCases'].sum()

np.int64(1011867)

In [42]:
df[df['Continent']=='Africa']

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
4,South Africa,Africa,59381566.0,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.00,3149807.0,53044.0,Africa
26,Egypt,Africa,102516525.0,95006,NaN,4951.0,NaN,48898.0,NaN,41157.0,41.0,927.0,48.00,135000.0,1317.0,EasternMediterranean
45,Nigeria,Africa,206606300.0,45244,NaN,930.0,NaN,32430.0,NaN,11884.0,7.0,219.0,5.00,306894.0,1485.0,Africa
50,Ghana,Africa,31133483.0,39642,NaN,199.0,NaN,36384.0,NaN,3059.0,7.0,1273.0,6.00,405817.0,13035.0,Africa
54,Algeria,Africa,43926079.0,33626,NaN,1273.0,NaN,23238.0,NaN,9115.0,57.0,766.0,29.00,NaN,NaN,Africa
56,Morocco,Africa,36953359.0,29644,NaN,449.0,NaN,20553.0,NaN,8642.0,31.0,802.0,12.00,1383816.0,37448.0,EasternMediterranean
61,Kenya,Africa,53881160.0,24411,NaN,399.0,NaN,10444.0,NaN,13568.0,44.0,453.0,7.00,335318.0,6223.0,Africa
66,Ethiopia,Africa,115223736.0,20900,NaN,365.0,NaN,9027.0,NaN,11508.0,185.0,181.0,3.00,468814.0,4069.0,Africa
70,Cameroon,Africa,26606188.0,17718,NaN,391.0,NaN,15320.0,NaN,2007.0,30.0,666.0,15.00,149000.0,5600.0,Africa
71,Ivory Coast,Africa,26437950.0,16447,NaN,103.0,NaN,12484.0,NaN,3860.0,NaN,622.0,4.00,104584.0,3956.0,Africa
77,Madagascar,Africa,27755708.0,12526,NaN,134.0,NaN,10148.0,NaN,2244.0,88.0,451.0,5.00,46301.0,1668.0,Africa
78,Sudan,Africa,43943536.0,11780,NaN,763.0,NaN,6194.0,NaN,4823.0,NaN,268.0,17.00,401.0,9.0,EasternMediterranean
80,Senegal,Africa,16783877.0,10715,NaN,223.0,NaN,7101.0,NaN,3391.0,33.0,638.0,13.00,114761.0,6838.0,Africa
82,DRC,Africa,89802183.0,9309,NaN,215.0,NaN,8048.0,NaN,1046.0,NaN,104.0,2.00,NaN,NaN,Africa
85,Gabon,Africa,2230563.0,7787,NaN,51.0,NaN,5609.0,NaN,2127.0,11.0,3491.0,23.00,85369.0,38272.0,Africa
87,Guinea,Africa,13164905.0,7664,NaN,49.0,NaN,6757.0,NaN,858.0,24.0,582.0,4.00,14407.0,1094.0,Africa
90,Zambia,Africa,18430129.0,7164,NaN,199.0,NaN,5786.0,NaN,1179.0,NaN,389.0,11.00,90307.0,4900.0,Africa
92,Mauritania,Africa,4660728.0,6444,NaN,157.0,NaN,5291.0,NaN,996.0,3.0,1383.0,34.00,57387.0,12313.0,Africa
97,Djibouti,Africa,989387.0,5330,NaN,59.0,NaN,5057.0,NaN,214.0,NaN,5387.0,60.00,59909.0,60552.0,EasternMediterranean
99,Libya,Africa,6880353.0,4879,NaN,107.0,NaN,652.0,NaN,4120.0,NaN,709.0,16.00,59699.0,8677.0,EasternMediterranean
100,Equatorial Guinea,Africa,1407001.0,4821,NaN,83.0,NaN,2182.0,NaN,2556.0,NaN,3426.0,59.00,44356.0,31525.0,Africa
102,CAR,Africa,4837752.0,4620,NaN,59.0,NaN,1641.0,NaN,2920.0,2.0,955.0,12.00,29589.0,6116.0,NaN
104,Malawi,Africa,19174839.0,4491,NaN,137.0,NaN,2137.0,NaN,2217.0,4.0,234.0,7.00,33466.0,1745.0,Africa
105,Zimbabwe,Africa,14883803.0,4339,NaN,84.0,NaN,1264.0,NaN,2991.0,NaN,292.0,6.00,140421.0,9434.0,Africa
108,Congo,Africa,5530506.0,3546,NaN,58.0,NaN,1589.0,NaN,1899.0,NaN,641.0,10.00,NaN,NaN,Africa
111,Somalia,Africa,15933012.0,3227,NaN,93.0,NaN,1728.0,NaN,1406.0,2.0,203.0,6.00,NaN,NaN,EasternMediterranean
112,Mayotte,Africa,273419.0,3042,NaN,39.0,NaN,2738.0,NaN,265.0,2.0,11126.0,143.00,13000.0,47546.0,NaN
113,Eswatini,Africa,1161348.0,2968,NaN,55.0,NaN,1476.0,NaN,1437.0,5.0,2556.0,47.00,20784.0,17896.0,Africa
116,Cabo Verde,Africa,556581.0,2734,NaN,27.0,NaN,2010.0,NaN,697.0,NaN,4912.0,49.00,61633.0,110735.0,Africa
117,Namibia,Africa,2545264.0,2652,NaN,15.0,NaN,563.0,NaN,2074.0,24.0,1042.0,6.00,29233.0,11485.0,Africa
118,Mali,Africa,20302901.0,2552,NaN,124.0,NaN,1954.0,NaN,474.0,NaN,126.0,6.00,25152.0,1239.0,Africa
120,South Sudan,Africa,11206572.0,2450,NaN,47.0,NaN,1175.0,NaN,1228.0,NaN,219.0,4.00,12044.0,1075.0,Africa
124,Mozambique,Africa,31333962.0,2120,NaN,15.0,NaN,795.0,NaN,1310.0,NaN,68.0,0.50,65151.0,2079.0,Africa
125,Rwanda,Africa,12981546.0,2111,NaN,5.0,NaN,1258.0,NaN,848.0,NaN,163.0,0.40,286251.0,22051.0,Africa
127,Guinea-Bissau,Africa,1972277.0,2032,NaN,27.0,NaN,944.0,NaN,1061.0,5.0,1030.0,14.00,1500.0,761.0,Africa
128,Benin,Africa,12151976.0,1936,NaN,38.0,NaN,1600.0,NaN,298.0,1.0,159.0,3.00,93677.0,7709.0,Africa
130,Sierra Leone,Africa,7992169.0,1877,NaN,67.0,NaN,1427.0,NaN,383.0,NaN,235.0,8.00,NaN,NaN,Africa
132,Tunisia,Africa,11830801.0,1642,NaN,51.0,NaN,1241.0,NaN,350.0,9.0,139.0,4.00,100298.0,8478.0,EasternMediterranean
134,Angola,Africa,32956300.0,1483,NaN,64.0,NaN,520.0,NaN,899.0,20.0,45.0,2.00,64747.0,1965.0,Africa
138,Liberia,Africa,5068618.0,1224,NaN,78.0,NaN,705.0,NaN,441.0,NaN,241.0,15.00,NaN,NaN,Africa
139,Uganda,Africa,45867852.0,1223,NaN,5.0,NaN,1102.0,NaN,116.0,NaN,27.0,0.10,288367.0,6287.0,Africa
142,Burkina Faso,Africa,20954852.0,1158,NaN,54.0,NaN,961.0,NaN,143.0,NaN,55.0,3.00,NaN,NaN,Africa
143,Niger,Africa,24281433.0,1153,NaN,69.0,NaN,1057.0,NaN,27.0,NaN,47.0,3.00,9052.0,373.0,Africa
144,Togo,Africa,8296582.0,1012,NaN,22.0,NaN,697.0,NaN,293.0,2.0,122.0,3.00,45767.0,5516.0,Africa
149,Chad,Africa,16467965.0,942,NaN,76.0,NaN,838.0,NaN,28.0,NaN,57.0,5.00,NaN,NaN,Africa
150,Gambia,Africa,2422754.0,935,NaN,16.0,NaN,136.0,NaN,783.0,NaN,386.0,7.00,5183.0,2139.0,Africa
151,Sao Tome and Principe,Africa,219544.0,878,NaN,15.0,NaN,797.0,NaN,66.0,NaN,3999.0,68.00,3079.0,14025.0,Africa
152,Botswana,Africa,2356075.0,804,NaN,2.0,NaN,63.0,NaN,739.0,1.0,341.0,0.80,68423.0,29041.0,Africa
155,Lesotho,Africa,2143943.0,742,NaN,23.0,NaN,175.0,NaN,544.0,NaN,346.0,11.00,8771.0,4091.0,Africa
158,Runion,Africa,895952.0,671,NaN,5.0,NaN,592.0,NaN,74.0,3.0,749.0,6.00,35419.0,39532.0,NaN
161,Tanzania,Africa,59886383.0,509,NaN,21.0,NaN,183.0,NaN,305.0,7.0,8.0,0.40,NaN,NaN,Africa
163,Comoros,Africa,871326.0,396,NaN,7.0,NaN,340.0,NaN,49.0,NaN,454.0,8.00,NaN,NaN,Africa
164,Burundi,Africa,11922216.0,395,NaN,1.0,NaN,304.0,NaN,90.0,NaN,33.0,0.08,15614.0,1310.0,Africa
166,Mauritius,Africa,1271985.0,344,NaN,10.0,NaN,334.0,NaN,0.0,NaN,270.0,8.00,205285.0,161389.0,Africa
169,Eritrea,Africa,3551175.0,282,NaN,NaN,NaN,225.0,NaN,57.0,NaN,79.0,NaN,NaN,NaN,Africa
184,Seychelles,Africa,98408.0,126,NaN,NaN,NaN,124.0,NaN,2.0,NaN,1280.0,NaN,NaN,NaN,Africa
208,Western Sahara,Africa,598682.0,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.00,NaN,NaN,Africa

In [43]:
df[df['Continent']=="North America"]['TotalDeaths'].sum()

np.float64(229855.0)

In [44]:
df['Continent'].unique()

array(['North America', 'South America', 'Asia', 'Europe', 'Africa',
       'Australia/Oceania', nan], dtype=object)

In [45]:
df[df['Continent']=="Australia/Oceania"]['TotalCases'].sum()

np.int64(21735)

In [46]:
#Data visualization

In [47]:
df1=pd.read_csv('/content/covid_19_clean_complete.csv')

In [48]:
df1.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [49]:
#Merge dataframes on Country/Region column
df2=pd.merge(df,df1,on='Country/Region')

In [50]:
df2.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,...,WHO Region_x,Province/State,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region_y
0,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,...,Americas,NaN,-14.235,-51.9253,2020-01-22,0,0,0,0,Americas
1,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,...,Americas,NaN,-14.235,-51.9253,2020-01-23,0,0,0,0,Americas
2,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,...,Americas,NaN,-14.235,-51.9253,2020-01-24,0,0,0,0,Americas
3,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,...,Americas,NaN,-14.235,-51.9253,2020-01-25,0,0,0,0,Americas
4,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,...,Americas,NaN,-14.235,-51.9253,2020-01-26,0,0,0,0,Americas

In [51]:
#Keep a few columns only
df2=df2[['Country/Region','Continent','Lat','Long' ,'TotalCases','TotalDeaths','TotalRecovered','Date']]

In [52]:
#Convert to CSV
df2.to_csv('covid_19_data.csv')

In [53]:
#Number of cases for country India (last appearance)
df2[df2['Country/Region']=='France']['TotalCases'].value_counts()

TotalCases
195633    2068
Name: count, dtype: int64

In [54]:
df3=pd.read_csv('day_wise.csv')

In [55]:
df3.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13

In [58]:
len(df3)

188

In [56]:
df3['Date'].unique()

array(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
       '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
       '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
       '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
       '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02',
       '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06',
       '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10',
       '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14',
       '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
       '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22',
       '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
       '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30',
       '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04',
       '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
       '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
       '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16',
       '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20',
       '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24',
       '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28',
       '2020-05-29', '2020-05-30', '2020-05-31', '2020-06-01',
       '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
       '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09',
       '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13',
       '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17',
       '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21',
       '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
       '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29',
       '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
       '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07',
       '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11',
       '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15',
       '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19',
       '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
       '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27'],
      dtype=object)

In [57]:
df3['Date'] = pd.to_datetime(df3['Date'])

In [62]:
df3['Date'].dt.year.value_counts()

Date
2020    188
Name: count, dtype: int64

In [63]:
df3['Date'].dt.month.value_counts()

Date
3    31
5    31
4    30
6    30
2    29
7    27
1    10
Name: count, dtype: int64

In [67]:
#print last 5 lines
df3[df3['Date'].dt.month == 6].tail()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
156,2020-06-26,9777487,494782,4875774,4406931,191346,4827,106316,5.06,49.87,10.15,187
157,2020-06-27,9955597,499268,4981808,4474521,178110,4486,106034,5.01,50.04,10.02,187
158,2020-06-28,10117227,502357,5070592,4544278,162349,3089,88784,4.97,50.12,9.91,187
159,2020-06-29,10275799,506078,5164494,4605227,158572,3721,93902,4.92,50.26,9.80,187
160,2020-06-30,10449697,511210,5281459,4657028,173898,5132,116965,4.89,50.54,9.68,187